{{define "base"}}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{template "title" .}} - SnippetBox</title>
    </head>
    <body>
        <header>
            <h1>
                <a href="/">SnippetBox</a>
            </h1>
        </header>
        <nav>
            <a href="/">Home Page</a>
        </nav>
        <main>
            <p>{{template "main" .}}</p>
        </main>
    </body>
</html>
{{end}}